body {
  color: #444;
  font-family: sans-serif;
}

.container {
  width: 800px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h2 {
  font-size: 25px;
  position: relative;
}

h2::after {
  content: "TOP";
  background-color: yellow;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -15px;
  right: -25px;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

/* p::first-line {
  color: blue;
} */

h4 {
  text-align: center;
}

li {
  font-size: 20px;
}

/* footer p {
  font-size: 16px;
} */

/* article header p {
  font-style: italic;
} */

#copyright {
  font-size: 16px;
}

#author {
  font-style: italic;
}

.related-author {
  font-weight: bold;
  font-size: 16px;
}

#posts {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  border: 5px solid #1098ad;
}

nav a:link {
  text-decoration: none;
  /* background-color: orangered; */
  margin: 20px;
}

/* a:visited {
  color: red;
} */

a:hover {
  color: orangered;
}

a:active {
  text-decoration: underline dotted blue;
}

button {
  position: absolute;
  font-size: 23px;
  bottom: 50px;
  right: 50px;
}
