body {
  font-family: sans-serif;
  line-height: 1.4;
}
/* PRODUCT */
.product {
  border: 5px solid black;
}

.product-title {
  text-align: center;
  text-transform: uppercase;
  background-color: #f7f7f7;
}

/* PRODUCT INFORMATION */
.product-detatils {
  text-transform: uppercase;
}

.price {
  font-size: 30px;
}

.shipping {
  color: #777;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
more-info:active {
  text-decoration: none;
}
/* PRODUCT DETAILS */

.details-title {
  text-transform: uppercase;
}

.details-list {
  list-style: square;
}
/* BUTTON */
.add-cart {
  color: white;
  background-color: black;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.add-cart:hover {
  background-color: white;
  color: black;
}
